In [124]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import scipy.stats as st

# Importing Google maps API key
# from api_keys import g_key

mel_subs_path = "Data files/Vic suburb price data till 2019.csv"
mel_subs_df = pd.read_csv(mel_subs_path)

In [125]:
mel_subs_df

,Median House Price - 2019,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,prelim 2020,change,change,Growth PA
1,locality,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,2018-2019,2009-2019,NaN
2,ABBOTSFORD,652000,736000,730000,714000,792500,862500,925000,1187500,1280000,1192500,1030000,1150000,-14,58,4.7
3,ABERFELDIE,786500,1046500,994000,852500,947500,1045000,1207500,1300000,1453000,1500000,1390000,1592500,-7,77,5.9
4,AINTREE,-,-,-,-,-,-,680500,640000,571500,580000,610000,675000,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,YARRAM,180000,166000,195500,215000,190000,202500,245000,230000,225000,218000,240000,260000,10,33,2.9
801,YARRAVILLE,541000,647000,607000,613000,696000,710000,810000,900500,1000000,1045000,971000,950000,-7,79,6
802,YARRAWONGA,270000,297000,270000,300000,302500,297000,300500,320000,324500,345000,375000,398000,9,39,3.3
803,YEA,214000,240000,270000,255000,260000,255000,260000,305000,386500,392500,435500,416500,11,104,7.4
804,YINNAR,183000,280500,208000,221500,220000,240000,182500,230000,270000,245000,255000,237500,4,39,3.4

In [126]:
mel_subs_df.columns = mel_subs_df.iloc[0]
mel_subs_df

,NaN,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,prelim 2020,change,change,Growth PA
0,NaN,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,prelim 2020,change,change,Growth PA
1,locality,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,2018-2019,2009-2019,NaN
2,ABBOTSFORD,652000,736000,730000,714000,792500,862500,925000,1187500,1280000,1192500,1030000,1150000,-14,58,4.7
3,ABERFELDIE,786500,1046500,994000,852500,947500,1045000,1207500,1300000,1453000,1500000,1390000,1592500,-7,77,5.9
4,AINTREE,-,-,-,-,-,-,680500,640000,571500,580000,610000,675000,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,YARRAM,180000,166000,195500,215000,190000,202500,245000,230000,225000,218000,240000,260000,10,33,2.9
801,YARRAVILLE,541000,647000,607000,613000,696000,710000,810000,900500,1000000,1045000,971000,950000,-7,79,6
802,YARRAWONGA,270000,297000,270000,300000,302500,297000,300500,320000,324500,345000,375000,398000,9,39,3.3
803,YEA,214000,240000,270000,255000,260000,255000,260000,305000,386500,392500,435500,416500,11,104,7.4
804,YINNAR,183000,280500,208000,221500,220000,240000,182500,230000,270000,245000,255000,237500,4,39,3.4

In [127]:
mel_subs_df = mel_subs_df.iloc[:, 0:13]
mel_subs_df

,NaN,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,prelim 2020
0,NaN,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,prelim 2020
1,locality,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median
2,ABBOTSFORD,652000,736000,730000,714000,792500,862500,925000,1187500,1280000,1192500,1030000,1150000
3,ABERFELDIE,786500,1046500,994000,852500,947500,1045000,1207500,1300000,1453000,1500000,1390000,1592500
4,AINTREE,-,-,-,-,-,-,680500,640000,571500,580000,610000,675000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,YARRAM,180000,166000,195500,215000,190000,202500,245000,230000,225000,218000,240000,260000
801,YARRAVILLE,541000,647000,607000,613000,696000,710000,810000,900500,1000000,1045000,971000,950000
802,YARRAWONGA,270000,297000,270000,300000,302500,297000,300500,320000,324500,345000,375000,398000
803,YEA,214000,240000,270000,255000,260000,255000,260000,305000,386500,392500,435500,416500
804,YINNAR,183000,280500,208000,221500,220000,240000,182500,230000,270000,245000,255000,237500

In [128]:
mel_subs_df = mel_subs_df.drop(mel_subs_df.index[[0,1]])
mel_subs_df

,NaN,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,prelim 2020
2,ABBOTSFORD,652000,736000,730000,714000,792500,862500,925000,1187500,1280000,1192500,1030000,1150000
3,ABERFELDIE,786500,1046500,994000,852500,947500,1045000,1207500,1300000,1453000,1500000,1390000,1592500
4,AINTREE,-,-,-,-,-,-,680500,640000,571500,580000,610000,675000
5,AIREYS INLET,515000,606000,680000,634000,664000,625500,680000,715000,737500,869000,985000,1005000
6,AIRPORT WEST,456000,575000,557500,495000,532000,575000,635000,742000,845000,847500,790000,900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,YARRAM,180000,166000,195500,215000,190000,202500,245000,230000,225000,218000,240000,260000
801,YARRAVILLE,541000,647000,607000,613000,696000,710000,810000,900500,1000000,1045000,971000,950000
802,YARRAWONGA,270000,297000,270000,300000,302500,297000,300500,320000,324500,345000,375000,398000
803,YEA,214000,240000,270000,255000,260000,255000,260000,305000,386500,392500,435500,416500
804,YINNAR,183000,280500,208000,221500,220000,240000,182500,230000,270000,245000,255000,237500

In [129]:
mel_subs_df = mel_subs_df.reset_index(drop=True)
mel_subs_df

,NaN,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,prelim 2020
0,ABBOTSFORD,652000,736000,730000,714000,792500,862500,925000,1187500,1280000,1192500,1030000,1150000
1,ABERFELDIE,786500,1046500,994000,852500,947500,1045000,1207500,1300000,1453000,1500000,1390000,1592500
2,AINTREE,-,-,-,-,-,-,680500,640000,571500,580000,610000,675000
3,AIREYS INLET,515000,606000,680000,634000,664000,625500,680000,715000,737500,869000,985000,1005000
4,AIRPORT WEST,456000,575000,557500,495000,532000,575000,635000,742000,845000,847500,790000,900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,YARRAM,180000,166000,195500,215000,190000,202500,245000,230000,225000,218000,240000,260000
799,YARRAVILLE,541000,647000,607000,613000,696000,710000,810000,900500,1000000,1045000,971000,950000
800,YARRAWONGA,270000,297000,270000,300000,302500,297000,300500,320000,324500,345000,375000,398000
801,YEA,214000,240000,270000,255000,260000,255000,260000,305000,386500,392500,435500,416500
802,YINNAR,183000,280500,208000,221500,220000,240000,182500,230000,270000,245000,255000,237500

In [130]:
mel_subs_df = mel_subs_df.rename(columns={np.nan: "Suburb", "prelim 2020": "2020"})
mel_subs_df

,Suburb,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,ABBOTSFORD,652000,736000,730000,714000,792500,862500,925000,1187500,1280000,1192500,1030000,1150000
1,ABERFELDIE,786500,1046500,994000,852500,947500,1045000,1207500,1300000,1453000,1500000,1390000,1592500
2,AINTREE,-,-,-,-,-,-,680500,640000,571500,580000,610000,675000
3,AIREYS INLET,515000,606000,680000,634000,664000,625500,680000,715000,737500,869000,985000,1005000
4,AIRPORT WEST,456000,575000,557500,495000,532000,575000,635000,742000,845000,847500,790000,900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,YARRAM,180000,166000,195500,215000,190000,202500,245000,230000,225000,218000,240000,260000
799,YARRAVILLE,541000,647000,607000,613000,696000,710000,810000,900500,1000000,1045000,971000,950000
800,YARRAWONGA,270000,297000,270000,300000,302500,297000,300500,320000,324500,345000,375000,398000
801,YEA,214000,240000,270000,255000,260000,255000,260000,305000,386500,392500,435500,416500
802,YINNAR,183000,280500,208000,221500,220000,240000,182500,230000,270000,245000,255000,237500

In [131]:
del mel_subs_df["2009"]
del mel_subs_df["2010"]
mel_subs_df

,Suburb,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,ABBOTSFORD,730000,714000,792500,862500,925000,1187500,1280000,1192500,1030000,1150000
1,ABERFELDIE,994000,852500,947500,1045000,1207500,1300000,1453000,1500000,1390000,1592500
2,AINTREE,-,-,-,-,680500,640000,571500,580000,610000,675000
3,AIREYS INLET,680000,634000,664000,625500,680000,715000,737500,869000,985000,1005000
4,AIRPORT WEST,557500,495000,532000,575000,635000,742000,845000,847500,790000,900000
...,...,...,...,...,...,...,...,...,...,...,...
798,YARRAM,195500,215000,190000,202500,245000,230000,225000,218000,240000,260000
799,YARRAVILLE,607000,613000,696000,710000,810000,900500,1000000,1045000,971000,950000
800,YARRAWONGA,270000,300000,302500,297000,300500,320000,324500,345000,375000,398000
801,YEA,270000,255000,260000,255000,260000,305000,386500,392500,435500,416500
802,YINNAR,208000,221500,220000,240000,182500,230000,270000,245000,255000,237500

In [132]:
mel_subs_df = mel_subs_df.replace("-", np.nan)
mel_subs_df

,Suburb,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,ABBOTSFORD,730000,714000,792500,862500,925000,1187500,1280000,1192500,1030000,1150000
1,ABERFELDIE,994000,852500,947500,1045000,1207500,1300000,1453000,1500000,1390000,1592500
2,AINTREE,NaN,NaN,NaN,NaN,680500,640000,571500,580000,610000,675000
3,AIREYS INLET,680000,634000,664000,625500,680000,715000,737500,869000,985000,1005000
4,AIRPORT WEST,557500,495000,532000,575000,635000,742000,845000,847500,790000,900000
...,...,...,...,...,...,...,...,...,...,...,...
798,YARRAM,195500,215000,190000,202500,245000,230000,225000,218000,240000,260000
799,YARRAVILLE,607000,613000,696000,710000,810000,900500,1000000,1045000,971000,950000
800,YARRAWONGA,270000,300000,302500,297000,300500,320000,324500,345000,375000,398000
801,YEA,270000,255000,260000,255000,260000,305000,386500,392500,435500,416500
802,YINNAR,208000,221500,220000,240000,182500,230000,270000,245000,255000,237500

In [133]:
mel_subs_df = mel_subs_df.dropna(how="any")
mel_subs_df

,Suburb,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,ABBOTSFORD,730000,714000,792500,862500,925000,1187500,1280000,1192500,1030000,1150000
1,ABERFELDIE,994000,852500,947500,1045000,1207500,1300000,1453000,1500000,1390000,1592500
3,AIREYS INLET,680000,634000,664000,625500,680000,715000,737500,869000,985000,1005000
4,AIRPORT WEST,557500,495000,532000,575000,635000,742000,845000,847500,790000,900000
5,ALBANVALE,317000,310000,313000,326500,345000,439000,526500,546000,512000,563000
...,...,...,...,...,...,...,...,...,...,...,...
798,YARRAM,195500,215000,190000,202500,245000,230000,225000,218000,240000,260000
799,YARRAVILLE,607000,613000,696000,710000,810000,900500,1000000,1045000,971000,950000
800,YARRAWONGA,270000,300000,302500,297000,300500,320000,324500,345000,375000,398000
801,YEA,270000,255000,260000,255000,260000,305000,386500,392500,435500,416500
802,YINNAR,208000,221500,220000,240000,182500,230000,270000,245000,255000,237500

In [143]:
avg_2011 = mel_subs_df["2011"].astype(float).mean()
avg_2012 = mel_subs_df["2012"].astype(float).mean()
avg_2013 = mel_subs_df["2013"].astype(float).mean()
avg_2014 = mel_subs_df["2014"].astype(float).mean()
avg_2015 = mel_subs_df["2015"].astype(float).mean()
avg_2016 = mel_subs_df["2016"].astype(float).mean()
avg_2017 = mel_subs_df["2017"].astype(float).mean()
avg_2018 = mel_subs_df["2018"].astype(float).mean()
avg_2019 = mel_subs_df["2019"].astype(float).mean()
avg_2020 = mel_subs_df["2020"].astype(float).mean()


sub_stats_df = pd.DataFrame({"2011": avg_2011, "2012": avg_2012, "2013": avg_2013, "2014": avg_2014, "2015":  avg_2015,
                            "2016": avg_2016, "2017": avg_2017, "2018": avg_2018, "2019": avg_2019, "2020":  avg_2020}, index=[0])


sub_stats_df = sub_stats_df.T
sub_stats_df

                  0
2011  452562.745098
2012  446039.215686
2013  469134.640523
2014  501422.222222
2015  558584.967320
2016  612204.575163
2017  687077.124183
2018  702504.575163
2019  689012.418301
2020  727133.986928

In [148]:
sub_stats_df = sub_stats_df.reset_index()
sub_stats_df.rename(columns={"index": "Year", "0": "Average Value"})

ValueError: cannot insert level_0, already exists